:root {
    --font-heading: "scandia-web", sans-serif;
    --font-body: system-ui, sans-serif;

    --grey-900: hsl(240, 14%, 100%);
    --grey-800: hsl(240, 14%, 87.5%);
    --grey-700: hsl(240, 14%, 75%);
    --grey-600: hsl(240, 14%, 62.5%);
    --grey-500: hsl(240, 14%, 50%);
    --grey-400: hsl(240, 14%, 37.5%);
    --grey-300: hsl(240, 14%, 25%);
    --grey-200: hsl(240, 14%, 12.5%);
    --grey-100: hsl(240, 14%, 0%);

    --font-size-700: 2.986rem;
    --font-size-600: 2.488rem;
    --font-size-500: 2.074rem;
    --font-size-400: 1.728rem;
    --font-size-300: 1.44rem;
    --font-size-200: 1.2rem;
    --font-size-100: 1rem;
    --font-size-90: 0.833rem;
    --font-size-80: 0.694rem;

    --background-color: var(--grey-800);
    --ink-color: var(--grey-200);
    --paper-color: var(--grey-900);
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--ink-color);
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-700);
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.022em;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--font-size-600);
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.022em;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: var(--font-heading);
    font-size: var(--font-size-500);
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.022em;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}

h4 {
    font-family: var(--font-heading);
    font-size: var(--font-size-400);
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.022em;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}

p {
    font-size: var(--font-size-200);
    margin: 0 0 1rem;
}

.headline {
    text-wrap: balance;
}

main {
    background-color: var(--grey-900);
    padding: 2rem;
    max-width: 70ch;
    margin: 0 auto;
}